// @import '~@angular/material/theming';
//@import '../../styling/mat-elevation.scss';
// @import '../../styling/border-radius.scss';

:host {
  display: flex;
  flex-direction: column;

  position: fixed;
	top: 10px;
	left: 10px;
	bottom: 10px;
	width: 350px;
  //max-width: 100vw;
	background-color: white;
  overflow: auto;

  // @include mat-elevation(2);
  // @include rh-border-radius(4px);
}
